

.cards-section{
    width: 100%;
    margin-top: 10vmin;
}

.cards-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5vmin;

    #cards-header-title{
        font-size: 9vmin;
        font-weight: bold;
        white-space: nowrap;
    }

    #cards-header-subtitle{
        font-size: 6.5vmin;
        font-weight: 100;
    }
}


.cards-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4.5vmin;
    padding-top: 10vmin;
    overflow: hidden;
}

.card{
    width: 100%;
    height: 160vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6.5vmin;
    border-radius: 4.5vmin;
    flex: none;

    .card-container{
        width: 100%;
        height: 100%;
        background-color: #fff;
        box-shadow: 0 0 10px -5px rgba(0,0,0,0.48);
        padding: 5vmin;
        border-radius: 4.5vmin;
    }

    .card-img{
        width: 100%;
        height: 60%;
        display: flex;
        align-items: flex-end;
        border-radius: 4.5vmin;
    
        #card-img{
            width: 100%;
            height: 115%;
            object-fit: contain;
            border-radius: 4.5vmin;
        }
    }

    .card-information{
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        padding: 5vmin 0;
        
        #card-title{
            font-size: 7vmin;
            font-weight: bold;
            margin-bottom: 3.5vmin;
        }

        #card-description{
            font-size: 5.5vmin;
            font-weight: 100;
        }
    }
}

.card:nth-child(1) .card-img{
    background-color: #FFC8D0;
}

.card:nth-child(2) .card-img{
    background-color: #E4F2FF;
}
.card:nth-child(3) .card-img{
    background-color: #CBFFDA;
}

.cards-slider{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vmin;
    margin-bottom: 5vmin;

    .slider{
        width: 6vmin;
        height: 6vmin;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.48);
        transition-duration: .6s;
    }

    .active{
        width: 15vmin;
        border-radius: 150px;
        background-color: #000;
        transition-duration: .6s;
    }
}
