
.categories-section{
    width: 100%;
    margin-top: 5vmin;
}

.categories-container{
    width: 100%;
    display: flex;
    gap: 3.5vmin;
    padding-top: 5vmin;
    overflow: hidden;
}

.category{
    width: 100%;
    aspect-ratio: 1 / .40;
    display: flex;
    background-color: #1D1D1B;
    border-radius: 5vmin;
    flex: none;
    
    .category-information{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 6vmin;

        #category-title{
            font-size: 8vmin;
            color: #fff;
        }

        #category-subtitle{
            font-size: 6vmin;
            color: #fff;
        }
    }

    .category-img{
        width: 50%;  
        height: 100%;  
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        img{
            width: 115%;
            border-bottom-right-radius: 5vmin;
        }
    }
}