.recommendations-section {
  width: 100%;
  margin-top: 10vmin;
}

.recommendations-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5vmin;
  margin-bottom: 5vmin;
}
.recommendations-header #recommendations-header-title {
  font-size: 9vmin;
  font-weight: 500;
  white-space: nowrap;
}
.recommendations-header .recommendations-slider-controls {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  gap: 1vmin;
}
.recommendations-header .recommendations-slider-controls .recommendation-next,
.recommendations-header .recommendations-slider-controls .recommendation-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vmax;
  height: 5vmax;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
}
.recommendations-header .recommendations-slider-controls .recommendation-next svg,
.recommendations-header .recommendations-slider-controls .recommendation-prev svg {
  width: 70%;
  height: 70%;
  color: #fff;
}

.recommendations-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 3.5vmin;
  overflow: hidden;
  padding-bottom: 2.5vmin;
  padding-top: 4.5vmin;
}

.recommendations-slider {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5vmin;
  margin-top: 6.5vmin;
}
.recommendations-slider .slider {
  width: 6vmin;
  height: 6vmin;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.48);
  transition-duration: 0.6s;
}
.recommendations-slider .active {
  width: 15vmin;
  border-radius: 150px;
  background-color: #000;
  transition-duration: 0.6s;
}

@media only screen and (min-width: 768px) {
  .recommendations-section {
    margin-top: 5vmin;
  }
  .recommendations-header {
    gap: 1.5vmin;
    margin-bottom: 2.5vmin;
  }
  .recommendations-header #recommendations-header-title {
    font-size: 6.5vmin;
  }
  .recommendations-container {
    gap: 2.5vmin;
  }
  .recommendations-slider {
    width: 100%;
    gap: 1.5vmin;
    margin-top: 1.5vmin;
  }
  .recommendations-slider .slider {
    width: 3.5vmin;
    height: 3.5vmin;
  }
  .recommendations-slider .active {
    width: 10vmin;
  }
}
@media only screen and (min-width: 998px) {
  .recommendations-section {
    margin-top: 2.5vmin;
  }
  .recommendations-header {
    margin-bottom: 1.5vmin;
  }
  .recommendations-header #recommendations-header-title {
    font-size: 4.5vmin;
  }
  .recommendations-container {
    gap: 1.5vmin;
    padding-bottom: 2.5vmin;
    padding-top: 2.5vmin;
  }
}
@media only screen and (min-width: 1200px) {
  .recommendations-section {
    margin-top: 5vmin;
  }
  .recommendations-header {
    margin-bottom: 2.5;
  }
  .recommendations-header #recommendations-header-title {
    font-size: 4.5vmin;
  }
  .recommendations-header .recommendations-slider-controls {
    gap: 1vmin;
  }
  .recommendations-header .recommendations-slider-controls .recommendation-next,
  .recommendations-header .recommendations-slider-controls .recommendation-prev {
    width: 4.5vmax;
    height: 4.5vmax;
  }
  .recommendations-container {
    gap: 1.5vmin;
  }
}
@media only screen and (min-width: 1440px) {
  .recommendations-section {
    margin-top: 5vmin;
  }
  .recommendations-header {
    margin-bottom: 2.5vmin;
  }
  .recommendations-header #recommendations-header-title {
    font-size: 5vmin;
  }
  .recommendations-container {
    gap: 1.5vmin;
  }
}/*# sourceMappingURL=recommendations.css.map */