
.newsletter-container{
    width: 100%;
    aspect-ratio: 1 / .20;
    border-radius: 5vmin;
    background-color: lightgray;
}

@media screen and (min-width: 1200px) {
    
    .newsletter-container{
        width: 100%;
        aspect-ratio: 1 / .20;
        border-radius: 5vmin;
        background-color: lightgray;
    }
}