.product {
  width: calc(50% - 1.75vmin);
  aspect-ratio: 1/2;
  flex: none;
  border-radius: 3.5vmin;
  box-shadow: 7.5px 7.5px 15px -10px rgba(0, 0, 0, 0.3);
}
.product .product-container {
  width: 100%;
  height: 100%;
  border-radius: 3.5vmin;
  position: relative;
}
.product .product-container .product-img {
  width: 100%;
  height: 60%;
  background-color: #C4E3FF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 3.5vmin;
  border-top-left-radius: 3.5vmin;
}
.product .product-container .product-img #sushi {
  width: 60%;
}
.product .product-container .product-img #wok {
  width: 80%;
}
.product .product-container .product-img #soup {
  width: 75%;
}
.product .product-container .product-tag {
  font-size: 4vmin;
  font-weight: 100;
  position: absolute;
  color: #fff;
  background-color: #FD3F3F;
  border-radius: 150px;
  padding: 0.65vmin 5vmin;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product .product-container .product-information {
  width: 100%;
  height: 40%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vmin;
  padding-top: 5.5vmin;
  border-bottom-left-radius: 3.5vmin;
  border-bottom-right-radius: 3.5vmin;
}
.product .product-container .product-information #product-name {
  font-size: 4.5vmin;
}
.product .product-container .product-information .product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .product-container .product-information .product-price span {
  font-size: 5vmin;
  color: #fff;
  background-color: #000;
  border-radius: 150px;
  padding: 1.25vmin 4.1vmin;
  white-space: nowrap;
}
.product .product-container .product-information .product-price .product-bag {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #C4E3FF;
  padding: 2vmin;
  border-radius: 1vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .product-container .product-information .product-price .product-bag #product-bag-icon {
  width: 6vmin;
  height: 6vmin;
}

@media screen and (min-width: 768px) {
  .product {
    width: calc(33.3333333333% - 1.6666666667vmin);
    aspect-ratio: 1/2;
    flex: none;
    border-radius: 2vmin;
  }
  .product .product-container {
    width: 100%;
    height: 100%;
    border-radius: 1.5vmin;
    border-top-right-radius: 2vmin;
    border-top-left-radius: 2vmin;
  }
  .product .product-container .product-img {
    border-top-right-radius: 2vmin;
    border-top-left-radius: 2vmin;
  }
  .product .product-container .product-tag {
    font-size: 2.5vmin;
    padding: 0.35vmin 3.5vmin;
  }
  .product .product-container .product-information {
    padding: 1.5vmin;
    border-bottom-left-radius: 2vmin;
    border-bottom-right-radius: 2vmin;
  }
  .product .product-container .product-information #product-name {
    font-size: 3.25vmin;
  }
  .product .product-container .product-information .product-price span {
    font-size: 3.25vmin;
    padding: 1vmin 1.5vmin;
  }
  .product .product-container .product-information .product-price .product-bag {
    padding: 1.5vmin;
    border-radius: 1vmin;
  }
  .product .product-container .product-information .product-price .product-bag #product-bag-icon {
    width: 4.5vmin;
    height: 4.5vmin;
  }
}
@media screen and (min-width: 992px) {
  .product {
    width: calc(25% - 1.125vmin);
    aspect-ratio: 1/2;
    flex: none;
    border-radius: 3.5vmin;
  }
  .product .product-container {
    width: 100%;
    height: 100%;
    border-radius: 1.5vmin;
  }
  .product .product-container .product-img {
    border-top-right-radius: 1.5vmin;
    border-top-left-radius: 1.5vmin;
  }
  .product .product-container .product-tag {
    font-size: 2.15vmin;
    padding: 0.35vmin 3.5vmin;
  }
  .product .product-container .product-information {
    padding: 1.5vmin;
    border-bottom-left-radius: 1.5vmin;
    border-bottom-right-radius: 1.5vmin;
  }
  .product .product-container .product-information #product-name {
    font-size: 2.52vmin;
  }
  .product .product-container .product-information .product-price span {
    font-size: 2.35vmin;
    padding: 1vmin 1.5vmin;
  }
  .product .product-container .product-information .product-price .product-bag {
    padding: 1vmin;
    border-radius: 1vmin;
  }
  .product .product-container .product-information .product-price .product-bag #product-bag-icon {
    width: 3.8vmin;
    height: 3.8vmin;
  }
}
@media screen and (min-width: 1200px) {
  .product {
    width: calc(25% - 1.125vmin);
    aspect-ratio: 1/2;
    flex: none;
    border-radius: 3.5vmin;
  }
  .product .product-container {
    width: 100%;
    height: 100%;
    border-radius: 1.5vmin;
  }
  .product .product-container .product-img {
    border-top-right-radius: 1.5vmin;
    border-top-left-radius: 1.5vmin;
  }
  .product .product-container .product-tag {
    font-size: 2.15vmin;
    padding: 0.35vmin 3.5vmin;
  }
  .product .product-container .product-information {
    padding: 1.5vmin;
  }
  .product .product-container .product-information #product-name {
    font-size: 2.7vmin;
  }
  .product .product-container .product-information .product-price span {
    font-size: 2.5vmin;
    padding: 1vmin 1.5vmin;
  }
  .product .product-container .product-information .product-price .product-bag {
    padding: 1vmin;
    border-radius: 1vmin;
  }
  .product .product-container .product-information .product-price .product-bag #product-bag-icon {
    width: 4.25vmin;
    height: 4.25vmin;
  }
}
@media screen and (min-width: 1440px) {
  .product {
    width: calc(16.6666666667% - 1.25vmin);
    aspect-ratio: 1/2;
    flex: none;
    border-radius: 3.5vmin;
  }
  .product .product-container {
    width: 100%;
    height: 100%;
    border-radius: 1.5vmin;
  }
  .product .product-container .product-img {
    border-top-right-radius: 1.5vmin;
    border-top-left-radius: 1.5vmin;
  }
  .product .product-container .product-tag {
    font-size: 1.15vmax;
    padding: 0.35vmin 3.5vmin;
  }
  .product .product-container .product-information {
    padding: 1vmin;
  }
  .product .product-container .product-information #product-name {
    font-size: 1.45vmax;
  }
  .product .product-container .product-information .product-price span {
    font-size: 1.15vmax;
    padding: 0.85vmin 1.5vmin;
  }
  .product .product-container .product-information .product-price .product-bag {
    padding: 1vmin;
    border-radius: 1vmin;
  }
  .product .product-container .product-information .product-price .product-bag #product-bag-icon {
    width: 1.85vmax;
    height: 1.85vmax;
  }
}/*# sourceMappingURL=product.css.map */