.product{
    width: calc(50% - 1.75vmin);
    aspect-ratio: 1 / 2;
    flex: none;
    border-radius: 3.5vmin;
    box-shadow: 3.5px 3.5px 10px -5px rgba(0,0,0,0.48);

    .product-container{
        width: 100%;
        height: 100%;
        border-radius: 3.5vmin;
        overflow: hidden;
        position: relative;

        .product-img{
            width: 100%;
            height: 60%;
            background-color: #C4E3FF;
            display: flex;
            align-items: center;
            justify-content: center;
            
            #sushi{
                width: 60%;
            }

            #wok{
                width: 80%;
            }

            #soup{
                width: 75%;
            }
        }

        .product-tag{
            font-size: 4vmin;
            font-weight: 100;
            position: absolute;
            color: #fff;
            background-color: #FD3F3F;
            border-radius: 150px;
            padding: .65vmin 5vmin;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .product-information{
            width: 100%;
            height: 40%;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 3vmin;
            padding-top: 5.5vmin;

            #product-name{
                font-size: 4.5vmin;
            }

            .product-price{
                display: flex;
                justify-content: space-between;
                align-items: center;

                span{
                    font-size: 5vmin;
                    color: #fff;
                    background-color: #000;
                    border-radius: 150px;
                    padding: 1.25vmin 4.10vmin;
                }

                .product-bag{
                    cursor: pointer;
                    border: none;
                    outline: none;
                    background-color: #C4E3FF;
                    padding: 2vmin;
                    border-radius: 1vmin;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    #product-bag-icon{
                        width: 6vmin;
                        height: 6vmin;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .product{
        width: calc(100% / 3 - 2.5vmin / 3);
        aspect-ratio: 1 / 2;
        flex: none;
        border-radius: 3.5vmin;
    
        .product-container{
            width: 100%;
            height: 100%;
            border-radius: 1.5vmin;

    
            .product-tag{
                font-size: 2.5vmin;
                padding: .35vmin 3.5vmin;
            }
    
            .product-information{
                padding: 1.5vmin;
                padding-top: 3.5vmin;
    
                #product-name{
                    font-size: 3.25vmin;
                }
    
                .product-price{
    
                    span{
                        font-size: 3.25vmin;
                        padding: 1vmin 1.5vmin;
                    }
    
                    .product-bag{
                        padding: 1.5vmin;
                        border-radius: 1vmin;
    
                        #product-bag-icon{
                            width: 4.5vmin;
                            height: 4.5vmin;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1200px){
    .product{
        width: calc(100% / 5 - 6vmin / 5);
        aspect-ratio: 1 / 2;
        border-radius: 2.5vmin;
    
        .product-container{
            border-radius: 1.5vmin;

            .product-tag{
                font-size: 1.75vmin;
                padding: .35vmin 2.5vmin;
            }
    
            .product-information{
                padding: 1vmin;
                padding-top: 2.5vmin;
    
                #product-name{
                    font-size: 2.25vmin;
                }
    
                .product-price{
    
                    span{
                        font-size: 2.15vmin;
                        padding: 0.8vmin 1.5vmin;
                    }
    
                    .product-bag{
                        padding: .8vmin;
                        border-radius: 1vmin;
    
                        #product-bag-icon{
                            width: 3vmin;
                            height: 3vmin;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1440px){
    .product{
        width: calc(100% / 6 - 7.5vmin / 6);
        aspect-ratio: 1 / 2;
        border-radius: 2.5vmin;
    
        .product-container{
            border-radius: 1.5vmin;

            .product-tag{
                font-size: 2.5vmin;
                padding: .35vmin 2.5vmin;
            }
    
            .product-information{
                padding: 1.65vmin;
                padding-top: 3vmin;
    
                #product-name{
                    font-size: 2.65vmin;
                }
    
                .product-price{
    
                    span{
                        font-size: 2.65vmin;
                        padding: 0.8vmin 1.65vmin;
                    }
    
                    .product-bag{
                        padding: .8vmin;
                        border-radius: .8vmin;
    
                        #product-bag-icon{
                            width: 4.15vmin;
                            height: 4.15vmin;
                        }
                    }
                }
            }
        }
    }
}